body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#top-navbar-main {
    background: #000;
}

#top-navbar-main a{
    color:#fff;
    text-transform: uppercase;
    font-size: 1.2em;
}
#top-navbar-main a:hover{
    color:gray;
}

.navbar-toggler{
    color:white !important;
}

.dropdown-menu {
    background-color: #000;
}